<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook Executor</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .cell { margin: 10px 0; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }
        .output { margin-top: 20px; padding: 10px; border: 1px solid #007BFF; background: #F0F8FF; }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Notebook Executor</h1>

    <input type="file" id="fileInput">
    <button onclick="loadNotebook()">Load Notebook</button>
      <h2>Cells</h2>
      <div style="display: flex;">
          <div id="cellsContainer" style="flex: 1;"></div>
      </div>

      <h2>Output</h2>
      <div id="outputContainer" class="output"></div>    
      
      <script>
        let regexForHTML = /<([A-Za-z][A-Za-z0-9]*)\b[^>]*>(.*?)<\/\1>/;
        var socket = io();

        socket.on('execute_result', (data) => {
            console.log('Received execution result:', data.output);
            const outputContainer = document.getElementById('outputContainer');
            if (regexForHTML.test(data.output)) {
                // Dont include start and end quote '
                outputContainer.innerHTML += data.output;
            } else {
                outputContainer.innerHTML += data.output.replace(/\n/g, '<br>');
            }
        });

        socket.on('image', (data) => {
            console.log('Received execution image:', data);
            const outputContainer = document.getElementById('outputContainer');
            outputContainer.innerHTML += `<img src="data:image/png;base64,${data.output}" alt="Image" />`;
        });

        socket.on('stream', (data) => {
            console.log('Received execution stream:', data);
            const outputContainer = document.getElementById('outputContainer');
            if (regexForHTML.test(data.output)) {
                outputContainer.innerHTML += data.output;
            } else {
                outputContainer.innerHTML += data.output.replace(/\n/g, '<br>');
            }
        });

        socket.on('error', (data) => {
            console.log('Received execution error:', data);
            const outputContainer = document.getElementById('outputContainer');
            if (regexForHTML.test(data.output)) {
                outputContainer.innerHTML += data.output;
            } else {
                outputContainer.innerHTML += data.output.replace(/\n/g, '<br>');
            }
        });

        async function loadNotebook() {
            cells = [];
            const response = await fetch('/load_notebook', { method: 'POST' });
            const data = await response.json();

            const cellsContainer = document.getElementById('cellsContainer');
            cellsContainer.innerHTML = '';
            data.cells.forEach((cell, index) => {
                const cellDiv = document.createElement('div');
                cellDiv.className = 'cell';
                cellDiv.innerHTML = `<strong>Cell ${index + 1}:</strong><pre>${cell.join('')}</pre>
                    <button onclick="executeCell(${index})">Execute</button>`;
                cellsContainer.appendChild(cellDiv);
                cells.push(cell);
            });
        }

        async function executeCell(index) {
            outputContainer.innerHTML = '';
            console.log(`Executing cell ${index + 1}`);
            cell = cells[index];
            if (cell ===  undefined) {
                console.log(`Cell ${index + 1} is undefined`);
                return;
            }
            socket.emit('execute_cell', { cell });
        }

        let cells = [];
    </script>
</body>
</html>
